body{
    font-family: serif;
}

.header{
    text-align: center;
    font-size: x-large;
    padding-top: 3%;
}

.line{
    align-self: center;
    width: 65%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

.images{
    max-width: 350px;
    max-height: 300px;
    margin: auto;
    display: block;
}

.shadow{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ffffff;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.title{
    text-align: center;
	position: relative;
    font-size: large;
}

.title::before{
	content: attr(data-number);
	display: inline-block;
	margin-right: 20px;
	color: red;
	font-size: 23px;
	border-bottom: 1px solid red;
}