body{
    font-family: serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f3f3f7b3;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 99;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    border-bottom: 1px solid #9b9b9c;
    color: #282828;
    margin-bottom: 5px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #9b9b9c;
}

.links a {
    color: #282828;
    text-decoration: none;
    padding: 2px 8px;
    transition: background 0.2s ease-in-out;
}

.links a:hover {
    background: #ffffff60;
}

.paragraph {
    text-align: center;
    font-size: x-large;
    padding-top: 5%;
}

.header a {
    color: #181818;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    vertical-align: middle;
}

.header a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #202020;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
    display: block;
}

.header a:hover::after {
    transform: scale(1, 1);
}

.paragraph{
    text-align: center;
    font-size: x-large;
    padding-top: 100px;
}

@media only screen and (max-width: 600px) {
    .paragraph {
        padding-top: calc(100px + 10px); 
    }
}

.line{
    align-self: center;
    width: 65%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

.images{
    max-width: 350px;
    max-height: 300px;
    margin: auto;
    display: block;
}

.shadow{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ffffff;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.texts{
    text-align: center;
	position: relative;
    font-size: large;
}

.texts::before{
	display: inline-block;
	margin-right: 20px;
	color: red;
	font-size: 23px;
}

.course {
    margin-bottom: 20px;
}

.course::before {
    content: attr(data-number);
    display: block;
    margin-bottom: 10px;
    color: yellowgreen;
    font-size: 23px;
    border-bottom: 1px solid yellowgreen;
}

.course-info {
    margin-left: 15px; 
    margin-right: 15px;
}

.course-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; 
}

.course-description {
    font-size: 14px;
    line-height: 1.5;
}

.container{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}
  
.u-image{
    width: 150px;
    height: auto;
    border-radius: 10px;
}
  
.info{    
    margin-left: 15px;
    margin-right: 15px;
    display: flex; 
    flex-direction: column; 
}
  
.name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px; 
    margin-top: auto;
}
  
.description{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    margin-top: 10px; 
}

.class{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.class th, .class td{
    border: 2px solid rgb(235, 211, 167);
    padding: 1em;
}

.class thead th{
    background-color: rgb(229, 175, 75);
    color: #fff;
    border: 2px solid rgb(229, 175, 75);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.class thead th:last-of-type{
    border-right: 2px solid rgb(229, 175, 75);
}

.class tbody th{
    color: rgb(229, 175, 75);
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 700px){
    .class{
        text-align: left;
    }

    .class thead{
        display:none;
    }

    .class th, .class td{
        display: block;
        border: 0;
        border-bottom: 2px solid rgb(235, 211, 167);
    }

    .class tbody th{
        background: rgb(229, 175, 75);
        color:#fff;
    }

    .table_design08 td::before{
        content: attr(data-label);
        color: rgb(229, 175, 75);
        font-weight: bold;
        display: inline-block;
        width: 20%;
        min-width: 4em;
    }
}





.footer{
    background-color: #333;
    padding: 2rem;
    font-size: 15px;
    color: #999;
    background: #fff;
    border-top: 1px solid #e5e7eb;
    padding-top: 3%;
    margin-top: 5%;
}

.f-title{
    color: #333;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer a{
    color: #333;
    text-decoration: none;
}
  
.footer a:hover{
    color: #000;
    text-decoration: none;
}

.footer a:visited{
    color: #333;
}
  
@media (min-width: 768px){
    .footer{
      display: flex;
      justify-content: space-between;
    }
  
    .md-flex{
      display: flex;
    }
  
    .md-flex li + li{
      margin-left: 16px;
    }
} 